.main {
  animation-duration: 1s;
}

.header {
  border-left: 5px solid #448AFF;
  margin-left: 10px;
}

.left-content {
  width: 70%;
  float: left;
}

.right {
  margin-left: auto;
  margin-right: 10%;
  top: 5%;
  float: right;
  cursor: pointer;
}

.right-30 {
  margin-left: auto;
  margin-right: 10%;
  float: right;
  cursor: pointer;
}

.full-content {
  width: 100%;
  float: left;
}

.right-content {
  float: left;
  width: 30%;
  border-radius: 30px;
  padding: 30px;
}

.week {
  margin-top: 20px;
  margin-left: 20px;
  border-left: 5px solid #448AFF;
  width: 90%;
  background-color: #CFD8DC;
}

.week-text {
  font-size: 22px;
}

.week-content {
  padding: 10px;
  width: 90%;
  margin-left: 20px;
}

.week-content-text {
  margin-top: 5px;
}

.week-content-checkbox {
  margin-left: auto;
  margin-right: 0;
  float: right;
}

.field {
  margin-left: 30px;
  margin-top: 10px;
  width: 100%;
}

.button-show-comment {
  cursor: pointer;
  margin-top: 80px;
}

.comment-content {
  width: 100%;
}

.like-button {
  margin-top: auto;
  margin-bottom: 0;
  margin-right: 0;
  float: right;
}

.comment-button {
  margin-top: 10px;
  margin-bottom: 0;
  margin-right: 0;
  float: right;
}

.like-text {
  cursor: pointer;
  color: dimgrey;
  font-weight: bold;
}

.liked-text {
  cursor: pointer;
  color: #448AFF;
  font-weight: bold;
}

.rep-text {
  cursor: pointer;
  color: dimgrey;
  font-weight: bold;
  margin-left: 10px;
}

.cursor-poiner {
  cursor: pointer;
}

.input-comment {
  width: 100%;
  border: none;
  /* box-sizing: padding-box; */
  overflow:hidden;
  /* demo only: */
  font-size:14px;
  display:block;
  border-radius:10px;
}

