<div class="main">
    <div [ngClass]="isShowDetail()">
        <h3 class="header">
            <b>[{{subject?.code}}] {{subject?.name}}</b>
            <div [ngClass]="isShowDetailButton()">
                <span *ngIf="showDetail" (click)="showDetail = !showDetail" class="material-icons">
                    open_in_new
                </span>
                <span *ngIf="!showDetail" (click)="showDetail = !showDetail" class="material-icons">
                    close_fullscreen
                </span>
            </div>
        </h3>
        <div class="week-list" *ngFor="let wNum of weekNumber">
            <div class="week">
                <span class="week-text">{{"SUBJECT.Week" | translate}} {{wNum}}</span>
            </div>
            <div class="week-content">
                <ul>
                    <li class="week-content-text">
                        Content 1
                        <input type="checkbox" class="week-content-checkbox">
                    </li>
                    <li class="week-content-text">
                        Content 2
                        <input type="checkbox" class="week-content-checkbox">
                    </li>
                    <li class="week-content-text">
                        Content 3
                        <input type="checkbox" class="week-content-checkbox">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div *ngIf="showDetail" class="right-content">
        <h4 class="header">
            <b>{{"SUBJECT.SubjectInfomation" | translate}}: </b>
        </h4>
        <h5 class="field">
            <b>{{"SUBJECT.Code" | translate}}: </b> {{subject?.code}}
        </h5>
        <h5 class="field">
            <b>{{"SUBJECT.Name" | translate}}: </b> {{subject?.name}}
        </h5>
        <h5 class="field">
            <b>{{"SUBJECT.Teacher" | translate}}: </b> {{subject?.teacherName}}
        </h5>
        <h5 class="field">
            <b>{{"SUBJECT.StartDate" | translate}} </b> {{subject?.startDate}}
        </h5>
        <h5 class="field">
            <b>{{"SUBJECT.EndDate" | translate}}: </b> {{getEndDate(subject?.startDate)}}
        </h5>
        <h5 class="field">
            <ms-rating (click)="openDialog()" [rating]='parseInt(subject?.rating)' [itemId]='subject?.id'
                       [isReadonly]="true"></ms-rating>
        </h5>
        <h5 class="button-show-comment field">
            <span *ngIf="showComment" (click)="showComment = !showComment"
                  class="material-icons">keyboard_arrow_up</span>
            <span *ngIf="!showComment" (click)="showComment = !showComment"
                  class="material-icons">keyboard_arrow_down</span>
            {{commentNotRepply?.length}} {{"SUBJECT.Comments" | translate}}
        </h5>
        <div *ngIf="showComment" class="comment-content">
            <mat-card *ngFor="let comment of commentNotRepply">
                <mat-card-header>
                    <mat-card-title>{{comment.studentName}}</mat-card-title>
                    <mat-card-subtitle>{{comment.creationTime}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <span>{{comment.content}}</span>
                    <div class="like-button">
                        <span class="like-text">Like</span>
                        <span class="rep-text" (click)="comment.rep = !comment.rep">Rep</span>
                    </div>
                    <div>
                        <span *ngIf="comment.showRep" (click)="comment.showRep = !comment.showRep"
                              class="material-icons cursor-poiner">keyboard_arrow_up</span>
                        <span *ngIf="!comment.showRep" (click)="comment.showRep = !comment.showRep"
                              class="material-icons cursor-poiner">keyboard_arrow_down</span>
                        {{getNumCommentRepById(comment.id)}} {{"SUBJECT.Replies" | translate}}
                    </div>
                    <div *ngIf="comment.showRep">
                        <div *ngFor="let commentRep of commentRepply">
                            <mat-card *ngIf="commentRep.parentId === comment.id">
                                <mat-card-header>
                                    <mat-card-title>{{commentRep.studentName}}</mat-card-title>
                                    <mat-card-subtitle>{{commentRep.creationTime}}</mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <span>{{commentRep.content}}</span>
                                    <div class="like-button">
                                        <span class="like-text">Like</span>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                    <div *ngIf="comment.rep">
                        <mat-card>
                            <textarea id="commentRepTextArea-{{comment.id}}" mat-autosize rows='2' class="input-comment"></textarea>
                            <div class="like-button comment-button">
                                <div class="btn btn-primary"
                                     (click)="repComment(comment.id)">{{"SUBJECT.Comment" | translate}}</div>
                            </div>
                        </mat-card>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div>
            <div>
                <mat-card>
                    <textarea
                        #commentTextArea
                        mat-autosize rows='2'
                        class="input-comment"
                        placeholder="Your Comment"></textarea>
                    <div class="like-button comment-button">
                        <div class="btn btn-primary" (click)="comment(commentTextArea.value)">{{"SUBJECT.Comment" | translate}}</div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>
