.main {
  animation-duration: 1s;
}

.header {
  border-left: 5px solid #448AFF;
  margin-left: 10px;
}

.field {
  margin-left: 30px;
  margin-top: 10px;
  width: 100%;
}

.margin-top-100px {
  margin-top: 100px;
}
