<div [ngClass]="isShowDetail()">
    <div class="infomation">
        <h3 class="header">
            <b>{{"TEACHER.TeacherInformation" | translate}}: </b>
            <div [ngClass]="isShowDetailButton()">
                <span *ngIf="!showDetail" (click)="showDetail = !showDetail" class="material-icons">
                    open_in_new
                </span>
                <span *ngIf="showDetail" (click)="showDetail = !showDetail" class="material-icons">
                    close_fullscreen
                </span>
            </div>
        </h3>
        <h4 class="field">
            <b>{{"TEACHER.Name" | translate}}: </b> {{teacher?.user?.name}}
        </h4>
        <h4 class="field">
            <b>{{"TEACHER.PhoneNumber" | translate}}: </b> {{teacher?.user?.phone}}
        </h4>
        <h4 class="field">
            <b>{{"TEACHER.Email" | translate}}: </b> {{teacher?.user?.email}}
        </h4>
        <h4 class="field">
            <b>{{"TEACHER.Age" | translate}}: </b> {{teacher?.user?.age}}
        </h4>
    </div>
    <div class="chart-container">
        <div class="rating-chart">
            <div class="center">
                <circle-progress
                        [percent]="teacher?.rating * 20"
                        [radius]="100"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="8"
                        [outerStrokeColor]="'#ECF30E'"
                        [innerStrokeColor]="'#BBC151'"
                        [animation]="true"
                        [animationDuration]="1000"
                        [title]="'Rating'"
                        [titleFontSize]="'28'"
                        [subtitleFontSize]="'20'"
                        [units]="''"
                        [subtitle]="teacher.rating + '/5'"
                ></circle-progress>
            </div>
        </div>
        <div class="detail-rating-chart" *ngIf="single?.length > 0">
            <ngx-charts-pie-chart
                    [view]="view"
                    [scheme]="colorScheme"
                    [maxLabelLength]="150"
                    [results]="single"
                    [gradient]="gradient"
                    [legend]="showLegend"
                    [legendPosition]="legendPosition"
                    [labels]="showLabels"
                    [doughnut]="isDoughnut"
                    (select)="onSelect($event)"
                    (activate)="onActivate($event)"
                    (deactivate)="onDeactivate($event)"
            >
            </ngx-charts-pie-chart>
        </div>
        <div class="day-rating-chart" *ngIf="single2?.length > 0">
            <ngx-charts-bar-vertical
                    [view]="view"
                    [results]="single2"
                    [xAxisLabel]="'Day'"
                    [legendTitle]="'Rating By Days'"
                    [yAxisLabel]="'Rating Count'"
                    [legend]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [gradient]="true">
            </ngx-charts-bar-vertical>
        </div>
    </div>
</div>
<div class="right" *ngIf="!showDetail">
    <mat-card *ngFor="let rating of ratingTeacher">
        <mat-card-header>
            <mat-card-title>
                <b>{{rating.studentName}}</b>
                <div class="rating">
                    <ms-rating [rating]='rating?.point' [itemId]='rating?.id' [isReadonly]="true"></ms-rating>
                </div>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <span>{{rating.creationTime}}</span>
        </mat-card-content>
    </mat-card>
</div>
